{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header">
                <h4>Edit Account</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        Please correct the errors below.
                    </div>
                    {% endif %}
                    
                    <div class="mb-3">
                        <label class="form-label">Current Email</label>
                        <input type="text" class="form-control" value="{{ email }}" disabled>
                    </div>
                    
                    {{ form.as_p }}
                    
                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-primary">Update Account</button>
                        <a href="{% url 'dashboard' %}" class="btn btn-outline-secondary">Cancel</a>
                    </div>
                </form>
                
                <hr>
                <div class="d-grid gap-2">
                    <a href="{% url 'change_password' %}" class="btn btn-outline-warning">
                        Change Password
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}